
  table {
    width: 400px; /* Adjust the width as desired */
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  h1{
    margin-bottom: 0px;
  }

.work-example{
  margin-bottom: 0px;
}

.duration{
  margin-top: 3px;
}
h3 {
    color: #F2511B;
    margin-top: 0px;
}

h4{
    color: #B45F06;
    font-size: 14pt;
}

.main-content{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.section{
  width: 500px;
  
  
}

.section-1a,.section-2a,.section-3a,.section-4a,.section-5a{
  width: 600px;
  border-bottom: 2px solid black;
}

.section-1a{
  border-top: 2px solid black;
}

hr{
  width:5%;
  padding-left: 0px;
  margin-left: 0px;
  
}

.section {
  position: relative;
}

.section hr {
  position: absolute;
  bottom: 0;
  width: 5%;
  background-color: black;
  border-color: black;
}

